<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>云顶之奕数据可视化网站</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">


    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <script src="static/plugins/js/vue3.js"></script>
    <link rel="stylesheet" href="static/css/element-plus.css">
    <script src="static/plugins/js/index.full.min.js"></script>

    <link rel="stylesheet" href="static/plugins/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/plugins/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/plugins/css/ionicons.min.css">
    <link rel="stylesheet" href="static/plugins/css/blue.css">
    <link rel="stylesheet" href="static/plugins/css/morris.css">
    <link rel="stylesheet" href="static/plugins/css/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="static/plugins/css/datepicker3.css">
    <link rel="stylesheet" href="static/plugins/css/daterangepicker.css">
    <link rel="stylesheet" href="static/plugins/css/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="static/plugins/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="static/plugins/css/jquery.treetable.css">
    <link rel="stylesheet" href="static/plugins/css/jquery.treetable.theme.default.css">
    <link rel="stylesheet" href="static/plugins/css/select2.css">
    <link rel="stylesheet" href="static/plugins/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="static/plugins/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="static/plugins/css/AdminLTE.css">
    <link rel="stylesheet" href="static/plugins/css/all-skins.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/otherstyle.css">
    <link rel="stylesheet" href="static/plugins/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="static/plugins/css/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet" href="static/plugins/css/slider.css">
    <link rel="stylesheet" href="static/plugins/css/bootstrap-datetimepicker.css">
</head>

<body class="hold-transition skin-purple sidebar-mini">

<div class="wrapper" id="app">

    <!-- 页面头部 -->
    <header class="main-header">


        <!-- Logo -->
        <a href="index.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>云顶之奕</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>云顶之奕数据可视化</b></span>
        </a>


        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有4个邮件</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="static/img/yasuo.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                系统消息
                                                <small><i class="fa fa-clock-o"></i> 5 分钟前</small>
                                            </h4>
                                            <p>欢迎登录系统?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="static/img/yasuo.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                团队消息
                                                <small><i class="fa fa-clock-o"></i> 2 小时前</small>
                                            </h4>
                                            <p>你有新的任务了</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="static/img/yasuo.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="static/img/yasuo.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="static/img/yasuo.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有10个新消息</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that
                                            may not
                                            fit into the page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有9个新任务</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Create a nice theme
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Some task I need to do
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Make beautiful transitions
                                                <small class="pull-right">80%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="static/img/yasuo.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">小小英雄-亚索</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="static/img/yasuo.jpg" class="img-circle" alt="User Image">

                                <p>
                                    小小英雄-亚索
                                    <small>最后登录 11:20AM</small>
                                </p>
                            </li>
                            <!-- Menu Body
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </div>
                    </li>-->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->

    <!-- 导航侧栏 -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="static/img/yasuo.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>小小英雄-亚索</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!-- search form -->
            <!--<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="搜索...">
            <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
    </form>-->
            <!-- /.search form -->


            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">菜单</li>

                <li id="lineup">
                    <a href="#" @click="changeContent('lineup','阵容推荐')"><i class="fa fa-group"></i>
                        <span>阵容推荐</span></a>
                </li>

                <li id="jobranking">
                    <a href="#" @click="changeContent('jobranking','羁绊排行')"><i class="fa fa-pie-chart"></i>
                        <span>羁绊排行</span></a>
                </li>

                <li id="herocloud">
                    <a href="#" @click="changeContent('herocloud','英雄词云')"><i class="fa fa-skyatlas"></i>
                        <span>英雄词云</span></a>
                </li>

                <li id="equipranking">
                    <a href="#" @click="changeContent('equipranking','装备排行')"><i class="fa fa-area-chart"></i>
                        <span>装备排行</span></a>
                </li>

                <li id="hero">
                    <a href="#" @click="changeContent('hero','英雄大全')"><i class="fa fa-user"></i>
                        <span>英雄大全</span></a>
                </li>

                <li id="equip">
                    <a href="#" @click="changeContent('equip','装备大全')"><i class="fa fa-wrench"></i>
                        <span>装备大全</span></a>
                </li>

                <li id="hex">
                    <a href="#" @click="changeContent('hex','海克斯大全')"><i class="fa fa-gg"></i>
                        <span>海克斯大全</span></a>
                </li>

                <li id="job">
                    <a href="#" @click="changeContent('job','羁绊大全')"><i class="fa fa-chain"></i>
                        <span>羁绊大全</span></a>
                </li>

                <li id="adventure">
                    <a href="#" @click="changeContent('adventure','奇遇大全')"><i class="fa fa-magic"></i>
                        <span>奇遇大全</span></a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- 导航侧栏 /-->

    <!-- 内容区域 -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h2 class="page-title">
                {{pageTitle}}
            </h2>
        </section>
        <!-- Main content -->
        <section class="content">
            <el-dialog v-model="dialogVisible" :title="dialogTitle">
                <span> {{dialogContent}}</span>
                <template #footer>
                    <span class="dialog-footer">
                    <el-button type="primary" @click="dialogVisible = false">好的 我会了</el-button>
                </span>
                </template>
            </el-dialog>
            <div class="lineup-list" v-if="sideBarTag=='lineup'">
                <div class="lineup-item" v-for="lineuplist in lineupList">
                    <div class="lineup-info" :title="lineuplist.info"
                         @click="showInfo(lineuplist.line_name,lineuplist.info)">
                        <div class="lineup-champion-bg"
                             :style="{'background-image': 'url('+lineuplist.bgImagePath+')'}"></div>
                        <div class="lineup-name">
                            {{ lineuplist.line_name }}
                        </div>
                        <div class="lineup-quality" v-if="lineuplist.quality"><span>{{ lineuplist.quality }}</span>
                        </div>
                        <div class="lineup-hex">
                            <div class="component-hex" v-for="hex in lineuplist.hexbuff.recomm">
                                <div class="component-pic" :title="hex.name+': '+hex.description"
                                     @click.stop="showInfo(hex.name, hex.description)">
                                    <img :src="hex.imgUrl">
                                </div>
                            </div>
                        </div>
                        <div class="lineup-champions">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="champion-wrap swiper-slide" style="width: 85.4444px;"
                                         v-for="chess in lineuplist.hero_location">
                                        <div :class="chess.chessPriceClass">
                                            <div draggable="false" class="champion-pic" :title="chess.name"
                                                 @click.stop="showInfo(chess.name, chess.skillDetail)">

                                                <img :src="chess.hero_image"
                                                     draggable="false">
                                            </div>
                                            <div class="icon-carry" v-if="chess.is_carry_hero"></div>
                                            <div class="champion-stars star-3" v-if="chess.is_3_star">
                                                <i class="icon-champion-star"></i>
                                                <i class="icon-champion-star"></i>
                                                <i class="icon-champion-star"></i>
                                            </div>
                                        </div>
                                        <div class="equipment-list" v-if="chess.equip_list">
                                            <div class="component-equipment" v-for="equip in chess.equip_list"
                                                 @click.stop="showEquipMsg(equip.id)">
                                                <img :src="equip.imagePath">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="lineup-link"></a>
                    </div>
                    <!--                    <div ref="lineupDetail" class="lineup-detail" v-if="isExpand">-->
                    <!--                        <div class="detail-1">-->
                    <!--                            &lt;!&ndash; 前期阵容 &ndash;&gt;-->
                    <!--                            <div class="lineup-stage" v-if="dataItem[detailKey].earlyMapChessList">-->
                    <!--                                <div class="lineup-stage-name"><span>前期</span></div>-->
                    <!--                                <div class="lineup-stage-list">-->
                    <!--                                    <component-champion v-for="(earlyHero, earlyHeroIndex) in dataItem[detailKey].earlyMapChessList"-->
                    <!--                                                        :key="'earlyHero_' + earlyHeroIndex"-->
                    <!--                                                        :champion-data="earlyHero.dataChess"-->
                    <!--                                                        v-if="earlyHero.dataChess && earlyHero.dataChess.chessId !== '99998'"-->
                    <!--                                                        :is-respond-event="earlyHero.stringChessType === 'hero'"-->
                    <!--                                                        :tooltip-hide-equip="judgeTooltipHideEquip(earlyHero.dataChess)"-->
                    <!--                                    >-->
                    <!--                                    </component-champion>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            &lt;!&ndash; 中期阵容 &ndash;&gt;-->
                    <!--                            <div class="lineup-stage" v-if="dataItem[detailKey].metaphaseMapChessList">-->
                    <!--                                <div class="lineup-stage-name"><span>中期</span></div>-->
                    <!--                                <div class="lineup-stage-list">-->
                    <!--                                    <component-champion v-for="(metaphaseHero, metaphaseHeroIndex) in dataItem[detailKey].metaphaseMapChessList"-->
                    <!--                                                        :key="'metaphaseHero_' + metaphaseHeroIndex"-->
                    <!--                                                        :champion-data="metaphaseHero.dataChess"-->
                    <!--                                                        v-if="metaphaseHero.dataChess && metaphaseHero.dataChess.chessId !== '99998'"-->
                    <!--                                                        :is-respond-event="metaphaseHero.stringChessType === 'hero'"-->
                    <!--                                                        :tooltip-hide-equip="judgeTooltipHideEquip(metaphaseHero.dataChess)">-->
                    <!--                                    </component-champion>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            <router-link :to="'/lineupDetail/' + dataItem.id + '/' + modeType + '/' + detailKey" class="btn-lineup-detail" @click.native="$PingClick('index', 'gotoDetail', '查看详情_' + dataItem.id)"><span>详情</span></router-link>-->
                    <!--                        </div>-->
                    <!--                        <div class="detail-equipment-wrap">-->
                    <!--                            &lt;!&ndash; 抢装顺序 &ndash;&gt;-->
                    <!--                            <div class="lineup-equipment-order" v-if="dataItem[detailKey].equipment_order_detail">-->
                    <!--                                <div class="equipment-order-title"><span>抢装顺序</span></div>-->
                    <!--                                <div class="equipment-order-list" v-for="(equip, equipIndex) in dataItem[detailKey].equipment_order_detail" :key="'equip_order_' + equipIndex">-->
                    <!--                                    <div class="icon-lineup-arrow-right" v-if="equipIndex !== 0"></div>-->
                    <!--                                    <component-equipment :equipment-data="equip"></component-equipment>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="detail-2">-->
                    <!--                            &lt;!&ndash; 阵容站位 &ndash;&gt;-->
                    <!--                            <div class="lineup-location">-->
                    <!--                                <div class="location-champion" :class="['position' + location.origin.location.replace(',', '-')]" @mouseenter="showTooltip($event, location.dataChess)" @mouseleave="hideTooltip()" v-for="(location, locationIndex) in dataItem[detailKey].finalMapChess" :key="'chessboard_' + locationIndex">-->
                    <!--                                    <svg viewBox="0 0 84 96" class="location-svg">-->
                    <!--                                        <defs><clipPath id="myMask"><polygon points="184 24 226 -3.16413562e-15 268 24 268 72 226 96 184 72" transform="translate(-184, 0)"></polygon></clipPath></defs>-->
                    <!--                                        <image :xlink:href="location.dataChess.$avatar" width="108" height="108" x="-8" y="-4" clip-path="url(#myMask)" transform="translate(0, 0)"></image>-->
                    <!--                                        <path stroke="none" stroke-width="4" fill="rgba(27, 18, 60, 0)" d="M186,25.1606451 L186,70.8393549 L226,93.6964978 L266,70.8393549 L266,25.1606451 L226,2.30350221 L186,25.1606451 Z" transform="translate(-184, 0)" id="slot-overlay" :style="{ stroke: location.booleanCarry && '#fb903a' }"></path>-->
                    <!--                                    </svg>-->
                    <!--                                    <i class="icon-carry" v-if="location.booleanCarry"></i>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            &lt;!&ndash; 备选英雄 &ndash;&gt;-->
                    <!--                            <div class="lineup-alternative" v-if="dataItem[detailKey].hero_replace_data && dataItem[detailKey].hero_replace_data.length > 0">-->
                    <!--                                <div class="alternative-item" v-for="heroReplace in dataItem[detailKey].hero_replace_data">-->
                    <!--                                    <div class="alternative-left">-->
                    <!--                                        <component-champion v-for="(originHero, originHeroIndex) in heroReplace.origin" :key="'originHero_' + originHeroIndex" :champion-data="originHero" :tooltip-hide-equip="judgeTooltipHideEquip(originHero)"></component-champion>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="icon-lineup-arrow-right"></div>-->
                    <!--                                    <div class="alternative-right">-->
                    <!--                                        <component-champion v-for="(replaceHero, replaceHeroIndex) in heroReplace.replace" :key="'replaceHero_' + replaceHeroIndex" :champion-data="replaceHero" :tooltip-hide-equip="judgeTooltipHideEquip(replaceHero)"></component-champion>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            &lt;!&ndash; 羁绊 &ndash;&gt;-->
                    <!--                            <div class="lineup-synergy">-->
                    <!--                                <component-synergy :class="synergy.isVanguard && 'vanguard'" :synergy-data="synergy" v-for="(synergy, synergyIndex) in dataItem[detailKey].contact" :key="'synergy_' + synergyIndex"></component-synergy>-->
                    <!--                            </div>-->
                    <!--                            &lt;!&ndash; 收起按钮 &ndash;&gt;-->
                    <!--                            <a href="javascript:;" class="btn-slide-up" @click.stop="switchExpand(dataItem.id)"><span>收起</span></a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
            <div v-if="sideBarTag=='jobranking'" class="echats-wrapper">
                <div id="pie" style="width: 800px;height: 500px;margin: 0 auto;"></div>
            </div>
            <div v-if="sideBarTag=='herocloud'" class="echats-wrapper">
                <div id="cy" style="width: 800px;height: 500px;margin: 0 auto; "></div>
            </div>
            <div v-if="sideBarTag=='equipranking'" class="echats-wrapper">
                <div id="equipline" style="width: 1200px;height: 600px;margin: 0 auto;"></div>
            </div>
            <div v-if="sideBarTag=='hero'">
                <div class="page-champion">
                    <div class="champion-list">
                        <div class="champion-item-big" v-for="hero in sortedHeroes"
                             @click="showInfo(hero.title + ' ' + hero.displayName, hero.skillDetail)">
                            <div class="champion-item-pic" :style="{'background-image': 'url('+hero.picPath+')'}">
                                <div class="blur-img" :style="{'background-image': 'url('+hero.picPaths+')'}"></div>
                                <div class="race-job-wrap">
                                    <div class="race-job" v-for="job in getJobAndRaces(hero.jobIds, hero.raceIds)">
                                            <span class="race-job-icon" @click.stop="showInfo(job.name, job.introduce)">
                                                <img :src="job.imagePath" class="icon-img">
                                            </span>
                                        <span class="race-job-name" @click.stop="showInfo(job.name, job.introduce)">{{job.name}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="champion-item-info">
                                <span class="name">{{ hero.title }}  {{ hero.displayName }}</span>
                                <span class="price">
                                <i class="icon-price"></i>
                                {{ hero.price }} 金币
                            </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div v-if="sideBarTag=='equip'" id="appMain" class="app-main">
                <div class="app-page-content">
                    <div class="page-thesea">
                        <div class="synergy-list">
                            <div class="synergy-list-head">
                                <span>名称</span>
                                <span>描述</span>
                            </div>
                            <div class="synergy-list-body">
                                <div class="synergy-item" v-for="equip in equipMap"
                                     @click="showEquipMsg(equip.equipId)">
                                    <div class="synergy">
                                        <div class="component-hex">
                                            <img :src="equip.imagePath">
                                        </div>
                                        <span class="sea-name">{{equip.name}}</span>
                                    </div>
                                    <div class="synergy-txt">
                                        <p class="txt-p">{{equip.effect}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div v-if="sideBarTag=='hex'" class="app-main">
                <div class="app-page-content">
                    <div class="page-thesea">
                        <div class="synergy-list">
                            <div class="synergy-list-head">
                                <span>名称</span>
                                <span>描述</span>
                            </div>
                            <div class="synergy-list-body">
                                <div class="synergy-item" v-for="hex in hexMap">
                                    <div class="synergy">
                                        <div class="component-hex">
                                            <div class="component-pic">
                                                <img :src="hex.imgUrl">
                                            </div> <!---->
                                        </div>
                                        <span class="sea-name">{{hex.name}}</span>
                                    </div>
                                    <div class="synergy-txt">
                                        <p class="txt-p">{{hex.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-page-content" v-if="sideBarTag=='job'">
                <div class="page-synergy">
                    <div class="synergy-list">
                        <div class="synergy-list-head">
                            <span>特质</span><span>羁绊</span><span>协同英雄</span>
                        </div>
                        <div class="synergy-list-body" v-for="map in [jobMap,raceMap]">
                            <div class="synergy-item" v-for="job in map">
                                <div class="synergy">
                                    <span class="synergy-icon">
                                        <img :src=job.imagePath>
                                    </span>
                                    {{ job.name }}
                                </div>
                                <div class="synergy-txt">
                                    <p class="txt-p">
                                        {{ job.introduce }}
                                    </p>
                                    <p class="txt-p2" v-for="(value,key,i) in job.level"><span
                                            :class="'txt-level level-'+i">{{ key }}</span>
                                        {{ value }}
                                    </p>
                                </div>
                                <div class="synergy-champion-list">
                                    <div :class="'component-champion cost'+hero.price"
                                         v-for="hero in getHeroesByJobId(job.jobId?job.jobId:job.raceId)">
                                        <div draggable="false" class="champion-pic" @click="showHeroMsg(hero.id)">
                                            <img :src="hero.picUrl" draggable="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-page-content" v-if="sideBarTag=='adventure'">
                <div class="page-hex-buff">
                    <div class="synergy-list">
                        <!-- 奇遇 S-->
                        <div class="synergy-list-head adventure-list">
                            <span>名称</span>
                            <span>描述</span>
                        </div>
                        <div class="synergy-list-body">
                            <div class="synergy-item" v-for="adve in adventureMap"
                                 :key="'adventure_' + adve.id">
                                <div class="synergy">
                                    <div class="adventure"><img :src="adve.logoUrl"></div>
                                    <span class="hex-name">{{ adve.title }}</span>
                                </div>
                                <div class="synergy-txt">
                                    <p class="txt-p">{{ adve.desc }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- page script -->
    <!-- 内容区域 /-->

    <!-- 底部导航 -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.8
        </div>
        <strong>Copyright &copy; 2022 <a href="/#">第11组</a>.</strong> All rights reserved.
    </footer>
    <!-- 底部导航 /-->

</div>

<script src="static/plugins/js/jquery-2.2.3.min.js"></script>
<script src="static/plugins/js/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="static/plugins/js/bootstrap.min.js"></script>
<script src="static/plugins/js/raphael-min.js"></script>
<script src="static/plugins/js/morris.min.js"></script>
<script src="static/plugins/js/jquery.sparkline.min.js"></script>
<script src="static/plugins/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="static/plugins/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="static/plugins/js/jquery.knob.js"></script>
<script src="static/plugins/js/moment.min.js"></script>
<script src="static/plugins/js/daterangepicker.js"></script>
<script src="static/plugins/js/daterangepicker.zh-CN.js"></script>
<script src="static/plugins/js/bootstrap-datepicker.js"></script>
<script src="static/plugins/js/bootstrap-datepicker.zh-CN.js"></script>
<script src="static/plugins/js/bootstrap3-wysihtml5.all.min.js"></script>
<script src="static/plugins/js/jquery.slimscroll.min.js"></script>
<script src="static/plugins/js/fastclick.js"></script>
<script src="static/plugins/js/icheck.min.js"></script>
<script src="static/plugins/js/app.min.js"></script>
<script src="static/plugins/js/jquery.treetable.js"></script>
<script src="static/plugins/js/select2.full.min.js"></script>
<script src="static/plugins/js/bootstrap-colorpicker.min.js"></script>
<script src="static/plugins/js/bootstrap-wysihtml5.zh-CN.js"></script>
<script src="static/plugins/js/bootstrap-markdown.js"></script>
<script src="static/plugins/js/bootstrap-markdown.zh.js"></script>
<script src="static/plugins/js/markdown.js"></script>
<script src="static/plugins/js/to-markdown.js"></script>
<script src="static/plugins/js/ckeditor.js"></script>
<script src="static/plugins/js/jquery.inputmask.js"></script>
<script src="static/plugins/js/jquery.inputmask.date.extensions.js"></script>
<script src="static/plugins/js/jquery.inputmask.extensions.js"></script>
<script src="static/plugins/js/jquery.dataTables.min.js"></script>
<script src="static/plugins/js/dataTables.bootstrap.min.js"></script>
<script src="static/plugins/js/Chart.min.js"></script>
<script src="static/plugins/js/jquery.flot.min.js"></script>
<script src="static/plugins/js/jquery.flot.resize.min.js"></script>
<script src="static/plugins/js/jquery.flot.pie.min.js"></script>
<script src="static/plugins/js/jquery.flot.categories.min.js"></script>
<script src="static/plugins/js/ion.rangeSlider.min.js"></script>
<script src="static/plugins/js/bootstrap-slider.js"></script>
<script src="static/plugins/js/bootstrap-datetimepicker.js"></script>
<script src="static/plugins/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="static/plugins/js/axios.min.js"></script>
<script src="static/plugins/js/echarts.js"></script>
<script src="static/plugins/js/echart3.js"></script>
<script src="static/plugins/js/echarts-wordcloud.js"></script>

<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });

    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });


</script>
<script src="static/js/main.js"></script>
<script src="static/js/createEcharts.js"></script>
</body>

</html>
