.component-hex {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer
}

.component-hex>img {
    display: block;
    width: 50px;
    height: 50px;
}

img {
    border: 0;
}

.component-hex .component-pic {
    width: .5rem;
    height: .5rem;
    background: url(//game.gtimg.cn/images/lol/tft/content-site/bg-hex.png) no-repeat center;
    background-size: 100% 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center
}

.component-hex .component-pic > img {
    width: 75%;
    height: 75%
}

.component-hex .hex-name {
    font-size: .14rem;
    color: #7e807d;
    margin-top: .1rem
}

/*! 海克斯 S */
.page-thesea {
    position: relative
}

.page-thesea .filter-box {
    margin: .4rem 0
}

.page-thesea .filter-box .btn-type {
    display: inline-block;
    vertical-align: middle;
    color: #7e807d;
    background: #191d24;
    font-size: .14rem;
    width: 1.7rem;
    height: .38rem;
    line-height: .38rem;
    border: 1px solid #313537;
    text-align: center;
    position: relative;
    margin-right: .2rem
}

.page-thesea .filter-box .btn-type > i {
    display: inline-block;
    vertical-align: middle;
    margin-right: .1rem
}

.page-thesea .filter-box .btn-type.on, .page-thesea .filter-box .btn-type:hover {
    border-color: #b59758;
    color: #b59758;
    z-index: 2
}

.page-thesea .synergy-list-head {
    height: .72rem;
    line-height: .72rem;
    background-color: #202831;
    border: 1px solid #26303b;
    border-bottom-width: 0;
    padding: 0 .6rem
}

.page-thesea .synergy-list-head > span {
    display: inline-block;
    vertical-align: middle;
    color: #7e807d;
    font-size: .16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.page-thesea .synergy, .page-thesea .synergy-list-head > span:nth-of-type(1) {
    width: 21%
}

.page-thesea .synergy-list-head > span:nth-of-type(2), .page-thesea .synergy-txt {
    width: 70%
}

.page-thesea .synergy-champion-list, .page-thesea .synergy-list-head > span:nth-of-type(3) {
    width: 40%
}

.page-thesea .synergy-item {
    border-top: 2px solid #1b2128;
    padding: .4rem .6rem;
    background: #161a20
}

.page-thesea .synergy-item:first-child {
    border-top: none
}

.page-thesea .synergy {
    display: inline-block;
    vertical-align: middle;
    color: #fff5e0;
    font-size: .16rem
}

.page-hex-buff .synergy-item {
    display: flex;
    align-items: stretch;
    border-top: 1px solid #192446;
    margin-left: .6rem;
    margin-right: .4rem;
}

.page-hex-buff .synergy {
    display: inline-flex;
    align-items: center;
    color: #fcf0f4;
    font-size: .14rem;
    padding: .25rem 0;
}

.page-hex-buff .adventure {
    display: inline-block;
    vertical-align: middle;
    width: .64rem;
    height: .64rem;
    position: relative;
}

.page-hex-buff .synergy-txt {
    display: inline-flex;
    align-items: center;
    line-height: 2;
    color: #72788e;
    font-size: .14rem;
    border-left: 1px solid #192446;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.page-hex-buff .adventure>img {
    display: block;
    width: 100%;
    height: 100%;
}

.page-hex-buff .adventure:after {
    content: "";
    background: url(//game.gtimg.cn/images/lol/tft/content-site/icon-adventure.png) no-repeat center;
    width: .64rem;
    height: .64rem;
    position: absolute;
    top: 0;
    left: 0;
}

.synergy .hex-name {
    margin-left: .22rem;
}


.page-hex-buff .filter-box .btn-type {
    color: #ada9c8;
    background: #180f4c;
    border-color: rgba(255,255,255,.1);
    transition: filter .3s,border .3s,color .3s,background-color .3s
}

.page-hex-buff .filter-box .btn-type.on,.page-hex-buff .filter-box .btn-type:hover {
    border-color: #d4a63f;
    color: #d4a63f
}

.page-hex-buff .secondary-filter-box .btn-type {
    background-color: #180f4c;
    color: #ada9c8;
    border-color: rgba(255,255,255,.1)
}

.page-hex-buff .third-filter-box .btn-type {
    color: #aab6c5
}

.page-hex-buff .third-filter-box .btn-type.on,.page-hex-buff .third-filter-box .btn-type:hover {
    color: #f3f1fc
}

.page-hex-buff .synergy-list-head {
    background: #22185d;
    border-color: rgba(24,15,76,.2)
}

.page-hex-buff .synergy-list-head>span {
    color: #ada9c8
}

.page-hex-buff .synergy-list-body {
    background: #180f4c
}

.page-hex-buff .hero-hex-group,.page-hex-buff .hex-txt,.page-hex-buff .synergy-item,.page-hex-buff .synergy-txt {
    border-color: rgba(255,255,255,.05)
}

.page-hex-buff .hex-info .hex-name,.page-hex-buff .synergy .hex-name {
    color: #f3f1fc
}

.page-hex-buff .hex-txt,.page-hex-buff .synergy-txt {
    color: #ada9c8
}

.page-hex-buff .play-bookby-item {
    background-color: #180f4c
}

.page-hex-buff .play-bookby-item .play-name {
    color: #d4a63f
}

.page-hex-buff .play-bookby-item .go-buff-details,.page-hex-buff .play-bookby-item .play-desc {
    color: #ada9c8
}

.page-hex-buff .play-bookby-item:hover {
    border-color: #d4a63f
}

.page-hex-buff .galaxy-list-body .galaxy-list-head {
    background: #180f4c;
    border-color: rgba(0,0,0,.1)
}

.page-hex-buff .galaxy-list-body .galaxy-list-head>span {
    color: #ada9c8
}

.page-hex-buff .galaxy-list-body .galaxy-list-item {
    background: #180f4c;
    border-color: rgba(255,255,255,.05)
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-badge>div p {
    color: #fff
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-info .info-title {
    color: #fff
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-info .info-desc {
    color: #ada9c8
}

.page-hex-buff .galaxy-list-body .galaxy-list-item.on,.page-hex-buff .galaxy-list-body .galaxy-list-item:hover {
    background: #1d1354
}

.page-hex-buff .galaxy-list-body .galaxy-details {
    background: rgba(24,15,76,.1)
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details {
    background: #180f4c
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-skill-name {
    color: #fff
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-skill-desc {
    color: #ada9c8
}

.page-hex-buff .galaxy-list-body .galaxy-hero-skill-answer {
    background: #180f4c;
    border-color: rgba(255,255,255,.05);
    color: #ada9c8
}

.page-hex-buff .galaxy-details .lineup-item,.page-hex-buff .page-galaxy-hero .lineup-item {
    background: #180f4c;
    border-color: rgba(255,255,255,.05)
}

.page-hex-buff .galaxy-details .lineup-item .lineup-info,.page-hex-buff .page-galaxy-hero .lineup-item .lineup-info {
    background: #372a83!important
}

.page-hex-buff .play-bookby-item .play-line-icon,.play-line-iconx,html.white .page-hex-buff .play-bookby-item .play-line-icon {
    background-position: .02rem -1.99rem;
    width: 3.03rem;
    height: .15rem
}

.play-video-icon {
    background-position: -2.06rem -.39rem;
    width: .6rem;
    height: .6rem
}

.page-hex-buff {
    position: relative
}

.page-hex-buff .filter-box {
    margin-top: .2rem
}

.page-hex-buff .filter-box .btn-type {
    display: inline-block;
    vertical-align: middle;
    color: #737d9d;
    background: #0c173c;
    font-size: .14rem;
    width: 1.7rem;
    height: .4rem;
    line-height: .38rem;
    border: 1px solid #394567;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    margin-right: .2rem
}

.page-hex-buff .filter-box .btn-type>i {
    display: inline-block;
    vertical-align: middle;
    margin-right: .1rem
}

.page-hex-buff .filter-box .btn-type.on,.page-hex-buff .filter-box .btn-type:hover {
    border-color: #c29e54;
    color: #b59758;
    z-index: 2
}

.page-hex-buff .secondary-filter-box {
    margin-top: .3rem
}

.page-hex-buff .secondary-filter-box .btn-type {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 1.42rem;
    height: .4rem;
    line-height: .38rem;
    text-align: center;
    font-size: .14rem;
    color: #6c7a95;
    background-color: #041938;
    border: 1px solid #26426a;
    box-sizing: border-box;
    -webkit-transition: color .3s,border .3s,background-color .3s;
    -moz-transition: color .3s,border .3s,background-color .3s;
    -o-transition: color .3s,border .3s,background-color .3s;
    transition: color .3s,border .3s,background-color .3s
}

.page-hex-buff .secondary-filter-box .btn-type.on,.page-hex-buff .secondary-filter-box .btn-type:hover {
    z-index: 1
}

.page-hex-buff .secondary-filter-box .btn-type+.btn-type {
    margin-left: -1px
}

.page-hex-buff .third-filter-box {
    margin-top: .3rem;
    margin-bottom: .4rem;
    padding-bottom: .39rem;
    border-bottom: .01rem solid rgba(255,255,255,.1)
}

.page-hex-buff .third-filter-box .btn-type {
    font-size: .16rem;
    margin-right: .6rem;
    color: #aab6c5
}

.page-hex-buff .third-filter-box .btn-type.on,.page-hex-buff .third-filter-box .btn-type:hover {
    color: #e8f5ff
}

.page-hex-buff .synergy-list-head {
    height: .51rem;
    line-height: .51rem;
    background-color: #1e2a51;
    border: 1px solid #232e46;
    padding-left: .6rem;
    padding-right: .4rem
}

.page-hex-buff .synergy-list-head>span {
    display: inline-block;
    vertical-align: middle;
    color: #959db9;
    font-size: .16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.page-hex-buff .hex-info,.page-hex-buff .synergy,.page-hex-buff .synergy-list-head>span:nth-of-type(1) {
    width: 21%;
}

.page-hex-buff .hex-txt,.page-hex-buff .synergy-list-head>span:nth-of-type(2),.page-hex-buff .synergy-txt {
    width: 78%;
    padding-left: .6rem;
    box-sizing: border-box;
}

.page-hex-buff .synergy-list-body {
    background: #0b1536
}

.page-hex-buff .hex-item,.page-hex-buff .synergy-item {
    display: flex;
    align-items: stretch;
    border-top: 1px solid #192446;
    margin-left: .6rem;
    margin-right: .4rem
}

.page-hex-buff .hex-item:first-child,.page-hex-buff .synergy-item:first-child {
    border-top: none
}

.page-hex-buff .hex-item {
    border: none
}

.page-hex-buff .hero-hex-group {
    border-top: 1px solid #192446
}

.page-hex-buff .hero-hex-group:first-child {
    border-top: none
}

.page-hex-buff .hex-info,.page-hex-buff .synergy {
    display: inline-flex;
    align-items: center;
    color: #fcf0f4;
    font-size: .14rem;
    padding: .25rem 0;
}

.page-hex-buff .hex-info .component-hex,.page-hex-buff .synergy .component-hex {
    margin-left: -.07rem
}

.page-hex-buff .hex-info .component-pic,.page-hex-buff .synergy .component-pic {
    width: .6rem;
    height: .6rem
}

.page-hex-buff .hex-info .hex-name,.page-hex-buff .synergy .hex-name {
    margin-left: .22rem
}

.page-hex-buff .hex-txt,.page-hex-buff .synergy-txt {
    display: inline-flex;
    align-items: center;
    line-height: 2;
    color: #72788e;
    font-size: .14rem;
    border-left: 1px solid #192446;
    padding-top: .25rem;
    padding-bottom: .25rem
}

.page-hex-buff .hex-item:first-of-type .hex-info,.page-hex-buff .hex-item:first-of-type .hex-txt {
    padding-top: .25rem;
    padding-bottom: .12rem
}

.page-hex-buff .hex-item:last-of-type .hex-info,.page-hex-buff .hex-item:last-of-type .hex-txt {
    padding-top: .12rem;
    padding-bottom: .25rem
}

.page-hex-buff .play-bookby-group {
    width: 100%;
    font-size: 0;
    position: relative;
    text-align: left
}

.page-hex-buff .play-bookby-body {
    background-color: transparent;
    margin-top: .4rem
}

.page-hex-buff .play-bookby-item {
    width: 3.74rem;
    height: 3.74rem;
    background-color: #041938;
    display: inline-block;
    vertical-align: top;
    margin-right: .2rem;
    margin-bottom: .2rem;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    transition: border-color .3s;
    border: 1px solid transparent
}

.page-hex-buff .play-bookby-item:hover {
    border-color: #feaa51
}

.page-hex-buff .play-bookby-item .play-head {
    margin: .44rem auto 0;
    position: relative;
    width: .66rem;
    height: .66rem;
    border-radius: 50%;
    background-color: #041c3c;
    border: .02rem solid #a58955;
    box-shadow: rgba(10,11,38,.35) 0 .14rem .15rem
}

.page-hex-buff .play-bookby-item .play-head img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 70%;
    max-height: 70%;
    -webkit-filter: contrast(.1) brightness(10);
    filter: contrast(.1) brightness(10)
}

.page-hex-buff .play-bookby-item .play-name {
    font-size: .16rem;
    color: #fff;
    line-height: 1;
    margin-top: .16rem;
    margin-bottom: .08rem;
    width: 100%;
    text-align: center
}

.page-hex-buff .play-bookby-item .play-line-icon {
    display: block;
    margin: 0 auto
}

.page-hex-buff .play-bookby-item .play-desc {
    line-height: 1;
    width: 90%;
    margin: .1rem auto 0 auto;
    text-align: center;
    color: #828c9c;
    font-size: .16rem;
    word-wrap: break-word
}

.page-hex-buff .play-bookby-item .go-buff-details {
    position: absolute;
    bottom: .24rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-size: .14rem;
    color: #828c9c
}

.page-hex-buff .galaxy-list-body {
    width: 100%;
    font-size: 0;
    margin: .2rem auto 0 auto;
    position: relative
}

.page-hex-buff .galaxy-list-body .galaxy-list {
    width: 62%;
    display: inline-block;
    vertical-align: top
}

.page-hex-buff .galaxy-list-body .galaxy-details {
    width: 37.8%;
    display: inline-block;
    vertical-align: top;
    background-color: #112542
}

.page-hex-buff .galaxy-list-body .galaxy-list-head {
    width: 100%;
    background-color: #061e3f;
    height: .54rem;
    border-bottom: 1px solid #132949;
    box-sizing: border-box
}

.page-hex-buff .galaxy-list-body .galaxy-list-head span {
    display: inline-block;
    vertical-align: top;
    color: #6c7a95;
    text-align: left;
    line-height: .54rem;
    font-size: .14rem;
    box-sizing: border-box
}

.page-hex-buff .galaxy-list-body .galaxy-list-head span:first-child {
    width: 13.4%;
    padding-left: .3rem
}

.page-hex-buff .galaxy-list-body .galaxy-list-head span:last-child {
    width: 83%
}

.page-hex-buff .galaxy-list-body .galaxy-list-item {
    width: 100%;
    height: 1.75rem;
    border-bottom: 1px solid #132949;
    box-sizing: border-box;
    background-color: #061e3f;
    padding: .1rem 0;
    cursor: pointer
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-badge {
    width: 13.4%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-badge>div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-badge>div img {
    width: .64rem;
    height: .64rem
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-badge>div p {
    color: #fff;
    font-size: .14rem;
    text-align: center;
    margin: .1rem auto 0 auto
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-info {
    width: 86%;
    font-size: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-info p {
    margin-bottom: .08rem;
    white-space: nowrap
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-info p:last-child {
    margin-bottom: 0
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-info span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-info .info-title {
    color: #fff;
    font-size: .14rem;
    text-align: left;
    width: 17%;
    text-align: left
}

.page-hex-buff .galaxy-list-body .galaxy-list-item .galaxy-item-info .info-desc {
    color: #6c7a95;
    font-size: .14rem;
    text-align: left;
    width: 80%;
    white-space: normal
}

.page-hex-buff .galaxy-list-body .galaxy-list-item.on {
    background-color: #041938
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details {
    background-color: #041938;
    width: 100%
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-info {
    padding: .24rem .4rem;
    box-sizing: border-box;
    position: relative
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-head,.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-skill,.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-skill-name {
    display: inline-block;
    vertical-align: middle
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-head {
    width: .4rem;
    height: .4rem;
    border: 1px solid #f8a32a;
    border-radius: 50%;
    margin-right: .18rem;
    overflow: hidden
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-head img {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1.24)
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-skill {
    height: .24rem;
    width: .24rem;
    margin-right: .12rem
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-skill img {
    width: 100%;
    height: 100%
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-skill-name {
    color: #fff;
    font-size: .14rem
}

.page-hex-buff .galaxy-list-body .galaxy-hero-details .galaxy-hero-skill-desc {
    color: #6c7a95;
    font-size: .14rem;
    margin-top: .24rem;
    line-height: 1.2
}

.page-hex-buff .galaxy-list-body .galaxy-hero-skill-answer {
    border-top: 1px solid #112542;
    box-sizing: border-box;
    padding: .17rem .4rem;
    color: #6c7a95;
    font-size: .14rem;
    position: relative;
    margin-bottom: .15rem;
    background-color: #041938;
    box-sizing: border-box
}

.page-hex-buff .galaxy-list-body .galaxy-hero-skill-answer p {
    position: relative;
    padding-left: .22rem;
    line-height: 1.2
}

.page-hex-buff .galaxy-list-body .galaxy-hero-skill-answer .answer-icon {
    position: absolute;
    left: 0;
    top: -.04rem
}

.page-hex-buff .adventure-list {
    margin: .4rem 0 0
}

.page-hex-buff .adventure {
    display: inline-block;
    vertical-align: middle;
    width: .64rem;
    height: .64rem;
    position: relative
}

.page-hex-buff .adventure>img {
    display: block;
    width: 100%;
    height: 100%;
}

.page-hex-buff .adventure:after {
    content: "";
    background: url(//game.gtimg.cn/images/lol/tft/content-site/icon-adventure.png) no-repeat center;
    width: .64rem;
    height: .64rem;
    position: absolute;
    top: 0;
    left: 0
}

.page-thesea .synergy .component-pic {
    width: .7rem;
    height: .7rem
}

.page-thesea .synergy .sea-name {
    margin-left: .22rem
}

.page-thesea .synergy-txt {
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    color: #7e807d;
    font-size: .14rem;
    padding-right: .6rem;
    box-sizing: border-box
}

.page-thesea .synergy-txt .txt-p {
    margin: 0 0 .1rem
}

.page-thesea .synergy-txt .txt-p2 {
    margin: 0 0 .1rem;
    padding-left: .3rem;
    position: relative
}

.page-thesea .synergy-txt .txt-level {
    position: absolute;
    top: .03rem;
    left: 0;
    display: block;
    width: .2rem;
    height: .2rem;
    line-height: .2rem;
    border: .01rem solid #c6aa4f;
    background: #ae8b42;
    text-align: center;
    color: #fff5e0;
    font-size: .14rem
}

.page-thesea .synergy-txt .txt-level.level-1 {
    border-color: #a5644a;
    background: #7f4f3e
}

.page-thesea .synergy-txt .txt-level.level-2 {
    border-color: #a7a399;
    background: #818181
}

.page-thesea .synergy-txt .txt-level.level-3 {
    border-color: #c6aa4f;
    background: #ae8b42
}

.page-thesea .synergy-txt .txt-level.level-4 {
    border-color: #60dace;
    background: #d4f6f1;
    color: #1c1c1c
}

.page-thesea .synergy-champion-list {
    display: inline-block;
    vertical-align: middle;
    padding: .2rem 0 0;
    line-height: 1
}

.page-thesea .synergy-champion-list .component-champion {
    margin: 0 .2rem .2rem 0
}

.page-thesea .synergy-champion-list .component-champion .champion-pic {
    width: .54rem;
    height: .54rem;
    box-shadow: #0d0e15 0 14px 10px
}

.component-champion {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1
}

.component-champion .champion-pic {
    position: relative;
    border-radius: 50%;
    width: .68rem;
    height: .68rem;
    overflow: hidden;
    box-shadow: #1b212d 0 14px 10px;
    border: 2px solid #c1a25f;
    margin: 0 auto
}

.component-champion .champion-pic > img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.24);
    -ms-transform: scale(1.24);
    -o-transform: scale(1.24);
    transform: scale(1.24)
}

.component-champion.cost1 .champion-pic {
    border: 2px solid #999
}

.component-champion.cost2 .champion-pic {
    border: 2px solid #5fcc29
}

.component-champion.cost3 .champion-pic {
    border: 2px solid #297acc
}

.component-champion.cost4 .champion-pic {
    border: 2px solid #cc29cc
}

.component-champion.cost5 .champion-pic {
    border: 2px solid #cca329
}

.component-champion.cost6 .champion-pic {
    border: 2px solid #f3391e
}

.component-champion .champion-price {
    position: absolute;
    bottom: -.02rem;
    right: -.02rem;
    display: block;
    width: .18rem;
    height: .18rem;
    line-height: .18rem;
    border-radius: 50%;
    text-align: center;
    color: #fff5e0;
    font-size: .14rem;
    pointer-events: none
}

.component-champion.cost1 .champion-price {
    background-color: #999
}

.component-champion.cost2 .champion-price {
    background-color: #5fcc29
}

.component-champion.cost3 .champion-price {
    background-color: #297acc
}

.component-champion.cost4 .champion-price {
    background-color: #cc29cc
}

.component-champion.cost5 .champion-price {
    background-color: #cca329
}

.component-champion.cost6 .champion-price {
    background-color: #f3391e
}

.component-champion.vanguard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(to bottom, #f897ff, #fff);
    background: -o-linear-gradient(to bottom, #f897ff, #fff);
    background: -moz-linear-gradient(to bottom, #f897ff, #fff);
    background: linear-gradient(to bottom, #f897ff, #fff);
    border-radius: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.component-champion.vanguard .icon-vanguard {
    content: "";
    width: .24rem;
    height: .24rem;
    position: absolute;
    top: 50%;
    right: -.1rem;
    transform: translate3d(0, -50%, 0)
}

.component-champion.vanguard .champion-pic {
    border: 2px solid transparent
}

.component-champion .champion-stars {
    position: absolute;
    top: -.16rem;
    left: 0;
    width: 100%;
    height: .2rem
}

.component-champion .champion-stars > i {
    position: absolute;
    top: -.06rem;
    left: 50%;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8)
}

.component-champion .champion-stars.star-1 > i {
    top: -.06rem;
    left: 50%;
    margin-left: -.145rem
}

.component-champion .champion-stars.star-2 > i:nth-of-type(1) {
    top: .02rem;
    margin-left: -.32rem
}

.component-champion .champion-stars.star-2 > i:nth-of-type(2) {
    top: .02rem;
    margin-left: .04rem
}

.component-champion .champion-stars.star-3 > i:nth-of-type(1) {
    top: .04rem;
    margin-left: -.4rem
}

.component-champion .champion-stars.star-3 > i:nth-of-type(2) {
    margin-left: -.145rem
}

.component-champion .champion-stars.star-3 > i:nth-of-type(3) {
    top: .04rem;
    margin-left: .1rem
}

.component-champion .icon-carry {
    background: url(//game.gtimg.cn/images/lol/tft/content-site/icon-carry-hero.png) no-repeat center/100%;
    width: .24rem;
    height: .28rem;
    position: absolute;
    top: 50%;
    margin-top: -.14rem;
    right: -.1rem;
    pointer-events: none
}

.component-champion:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

/*! 组件-羁绊 */
.component-synergy {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer
}

.component-synergy .synergy-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: .36rem;
    height: .42rem;
    line-height: .44rem;
    text-align: center;
    overflow: hidden;
    background-position: -3.6rem -1.8rem;
    width: .39rem;
    height: .44rem
}

.component-synergy .synergy-icon .icon-img {
    display: inline-block;
    vertical-align: middle;
    width: .18rem;
    -webkit-filter: contrast(.1) brightness(.5);
    filter: contrast(.1) brightness(.5)
}

.component-synergy .synergy-icon > canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: .18rem;
    height: .18rem
}

.component-synergy.active .synergy-icon .icon-img {
    -webkit-filter: contrast(.1) brightness(10);
    filter: contrast(.1) brightness(10)
}

.component-synergy.level1 .synergy-icon {
    background-position: -3.6rem -.9rem;
    width: .39rem;
    height: .44rem
}

.component-synergy.level2 .synergy-icon {
    background-position: -3.6rem -.45rem;
    width: .39rem;
    height: .44rem
}

.component-synergy.level3 .synergy-icon {
    background-position: -3.6rem -1.35rem;
    width: .39rem;
    height: .44rem
}

.component-synergy.level4 .synergy-icon, .component-synergy.level5 .synergy-icon {
    background-position: -3.6rem -2.25rem;
    width: .39rem;
    height: .44rem
}

.component-synergy.level4 .synergy-icon .icon-img, .component-synergy.level5 .synergy-icon .icon-img {
    -webkit-filter: none;
    filter: none
}

.component-synergy.vanguard:before {
    content: "";
    background: url(//game.gtimg.cn/images/lol/tft/content-site/icon-vanguard-synergy.png) no-repeat center/100%;
    width: .4rem;
    height: .48rem;
    position: absolute;
    top: -.02rem;
    left: 0;
    z-index: 2
}

.component-synergy.vanguard:after {
    content: "";
    background: url(//game.gtimg.cn/images/lol/tft/content-site/icon-vanguard.png) no-repeat center;
    background-size: 100%;
    width: .14rem;
    height: .14rem;
    position: absolute;
    bottom: .02rem;
    left: .28rem;
    z-index: 3
}

.component-synergy.type-0 .synergy-txt {
    display: inline-block;
    vertical-align: middle;
    background: #161a20;
    color: #64625a;
    font-size: .14rem;
    height: .24rem;
    line-height: .24rem;
    padding: 0 .18rem;
    border: 1px solid #313537;
    margin-left: -.08rem
}

.component-synergy.type-0.active .synergy-txt {
    color: #fff5e0
}

.component-synergy.type-1 {
    width: 20%;
    height: .52rem;
    padding: 0 .14rem;
    border: 1px solid #313537;
    background: #161a20;
    line-height: .52rem;
    margin: 0 .2rem .2rem 0
}

.component-synergy.type-1 .synergy-txt {
    display: inline-block;
    vertical-align: middle;
    color: #64625a;
    font-size: .14rem;
    line-height: 1;
    margin-left: .14rem
}

.component-synergy.type-1 .synergy-txt > p {
    margin: .04rem 0 0
}

.component-synergy.type-1 .synergy-level {
    width: .3rem;
    height: .36rem;
    line-height: .36rem;
    background: #313537;
    float: right;
    font-size: .16rem;
    font-family: Dinot;
    font-weight: 700;
    text-align: center;
    margin: .08rem 0 0
}

.component-synergy.type-1.active {
    background: #202831;
    border: 1px solid #202831
}

.component-synergy.type-1.active .synergy-txt {
    color: #fff5e0
}

.component-synergy.type-1.vanguard:before {
    top: .01rem;
    left: .14rem
}

.component-synergy.type-1.vanguard:after {
    bottom: .08rem;
    left: .42rem
}

.page-synergy {
    position: relative
}

.page-synergy .filter-box {
    margin: .4rem 0
}

.page-synergy .synergy-list-head > span {
    display: inline-block;
    vertical-align: middle;
    color: #7e807d;
    font-size: .16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-synergy .synergy-list-head {
    height: 0.72rem;
    line-height: .72rem;
    background-color: #202831;
    border: 1px solid #26303b;
    border-bottom-width: 0;
    padding: 0 0.6rem;
}

.page-synergy .filter-box .btn-type {
    display: inline-block;
    vertical-align: middle;
    color: #7e807d;
    background: #191d24;
    font-size: .14rem;
    width: 1.7rem;
    height: .38rem;
    line-height: .38rem;
    border: 1px solid #313537;
    text-align: center;
    position: relative;
    margin-right: .2rem
}

.page-synergy .filter-box .btn-type > i {
    display: inline-block;
    vertical-align: middle;
    margin-right: .1rem
}

.page-synergy .filter-box .btn-type.on, .page-synergy .filter-box .btn-type:hover {
    border-color: #b59758;
    color: #b59758;
    z-index: 2
}

.page-synergy .synergy, .page-synergy .synergy-list-head > span:nth-of-type(1) {
    width: 15%
}

.page-synergy .synergy-txt, .page-synergy .synergy-list-head > span:nth-of-type(2) {
    width: 45%
}

.page-synergy .synergy-champion-list, .page-synergy .synergy-list-head > span:nth-of-type(3) {
    width: 40%
}

.page-synergy .synergy-item {
    border-top: 2px solid #1b2128;
    padding: .4rem .6rem;
    background: #161a20
}

.page-synergy .synergy-item:first-child {
    border-top: none
}

.page-synergy .synergy {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: .16rem
}

.page-synergy .synergy .synergy-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: .5rem;
    height: .36rem;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2
}

.page-synergy .synergy .synergy-icon > img {
    display: block;
    width: .32rem;
    height: .32rem;
    position: absolute;
    top: 50%;
    left: -.4rem;
    transform: translate(0, -50%);
    -webkit-filter: drop-shadow(4rem 0);
    filter: drop-shadow(#fff .4rem 0)
}

.page-synergy .synergy-txt {
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    color: #7e807d;
    font-size: .14rem;
    padding-right: .6rem;
    box-sizing: border-box
}

.page-synergy .synergy-txt .txt-p {
    margin: 0 0 .1rem
}

.page-synergy .synergy-txt .txt-p2 {
    margin: 0 0 .1rem;
    padding-left: .3rem;
    position: relative
}

.page-synergy .synergy-txt .txt-level {
    position: absolute;
    top: .03rem;
    left: 0;
    display: block;
    width: .2rem;
    height: .2rem;
    line-height: .2rem;
    border: .01rem solid #c6aa4f;
    background: #ae8b42;
    text-align: center;
    color: #fff5e0;
    font-size: .14rem
}

.page-synergy .synergy-txt .txt-level.level-1 {
    border-color: #a5644a;
    background: #7f4f3e
}

.page-synergy .synergy-txt .txt-level.level-2 {
    border-color: #a7a399;
    background: #818181
}

.page-synergy .synergy-txt .txt-level.level-3 {
    border-color: #c6aa4f;
    background: #ae8b42
}

.page-synergy .synergy-txt .txt-level.level-4 {
    border-color: #60dace;
    background: #d4f6f1;
    color: #1c1c1c
}

.page-synergy .synergy-champion-list {
    display: inline-block;
    vertical-align: middle;
    line-height: 1
}

.page-synergy .synergy-champion-list .component-champion {
    margin: 0 .2rem .2rem 0
}

.page-synergy .synergy-champion-list {
    display: inline-block;
    vertical-align: middle;
    padding: 0.2rem 0 0;
    line-height: 1;
}

.page-synergy .synergy-champion-list .component-champion .champion-pic {
    width: .54rem;
    height: .54rem;
    box-shadow: #0d0e15 0 14px 10px
}

@-moz-document url-prefix() {
    .page-synergy .synergy .synergy-icon > img {
        left: 0;
        -webkit-filter: contrast(.1) brightness(10);
        filter: contrast(.1) brightness(10)
    }
}

.page-synergy .synergy-list-head > span {
    display: inline-block;
    vertical-align: middle;
    color: #7e807d;
    font-size: .16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-synergy .synergy-list-head {
    height: 0.72rem;
    line-height: .72rem;
    background-color: #202831;
    border: 1px solid #26303b;
    border-bottom-width: 0;
    padding: 0 0.6rem;
}

.app-wrap {
    position: relative;
    font-size: 0;
    line-height: 1;
    color: #7e807d;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    font-family: Dinot,'\5FAE\8F6F\96C5\9ED1';
}

.echats-wrapper {
    background-color: white;
    opacity: 0.6;
}

