/* tab 1*/
.double {
    line-height: 58px;
}

.title .glyphicon {
    padding: 3px;
    font-size: 13px;
    border-radius: 8px;
    color: #fff;

}

.data span.arrowup {
    color: #d88918;
}

.data span.arrowdown {
    color: #6bb10a;
}

.item-blue .glyphicon {
    background-color: #39a9ea;
}

.item-green {
    line-height: 58px;
}

.item-green .glyphicon {
    background-color: #6bb10a;
    line-height: 12px;
}

.item-orange .glyphicon {
    background-color: #d88918;
}

.item-red .glyphicon {
    background-color: #f14f4f;
}

.chart .chart-box {
    margin: 10px;
}

.data-type .title,
.data-type .data {
    padding: 3px 12px;
    border-top: 1px solid #d4d4d4;
    overflow: hidden;
    height: 42px;
}

.data-type .title {
    line-height: 34px;
    border-right: 1px solid #d4d4d4;
}

.data-type .data:last-child {
    border-right: 0;
}

.data-type .title {
    text-align: center;
    background: #ececec;
}

.data-type .data .line {
    vertical-align: middle;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* label行高度 */
.data-type .data > label {
    line-height: 36px;
}

.data-type .data > .form-group {
    line-height: 36px;
}

.data-type .data.text {
    line-height: 36px;
}

/* label行分隔符 */
.data-type .data.border-right {
    border-right: 1px solid #d4d4d4;
}

/* 表格双倍高度 */
.data-type .title.rowHeight2x,
.data-type .data.rowHeight2x {
    height: 84px;
}

.data-type .title.rowHeight2x,
.data-type .data.rowHeight2x.text {
    line-height: 78px;
}

/*.data-type .data.rowHeight2x > label {
	line-height:78px;
}*/
.data-type .title.editer,
.data-type .data.editer {
    height: 320px;
}

.data-type .title.editer {
    line-height: 300px;
}

/*清除parding*/
.padding-clear {
    padding-right: 0px;
    padding-left: 0px;
}

/* 文件上传 */
/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 35px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

html {
    font-size: 100px;
}

.content-wrapper {
    background: url(http://game.gtimg.cn/images/lol/tft/content-site/bg-top.png) rgb(27, 33, 40);
}

.content-wrapper .content {
    margin: 0 auto;
    text-align: center;
    overflow-x: scroll;
}

.content-wrapper .other-content {
    margin: 0 auto;
    padding: 40px;
}

.lineup-list {
    margin: 0 auto;
}

.lineup-item {
    position: relative;
    margin: 0 0 .2rem;
    background: #161a20;
    border: 1px solid #313e4c;
    border-radius: .02rem;
    transition: height .3s, border-color .3s;
}

.lineup-item:hover {
    border: 1px solid #b89857;
}

.lineup-item .lineup-info {
    position: relative;
    background: #262f3a;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    height: 1.3rem;
    padding: 0 .35rem;
    cursor: pointer;
}

.lineup-item .lineup-info .lineup-name {
    position: relative;
    color: #fff5e0;
    font-size: .18rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.3rem;
    letter-spacing: .02rem;
    width: 30%;
    overflow: hidden;
}

.lineup-item .lineup-info .lineup-hex {
    display: flex;
    justify-content: space-around;
    width: 12%;
    position: relative;
    z-index: 2;
}

.component-hex {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.lineup-item .lineup-info .component-hex .component-pic {
    width: .44rem;
    height: .44rem;
}

.component-hex .component-pic {
    width: .5rem;
    height: .5rem;
    background: url("http://game.gtimg.cn/images/lol/tft/content-site/bg-hex.png") no-repeat center;
    background-size: 100% 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.component-hex .component-pic > img {
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

img {
    border: 0;
}

.lineup-item .lineup-info .lineup-champions {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    padding-right: 4.6%;
}

.lineup-item .lineup-info .lineup-champions .swiper-container {
    width: 100%;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}

.lineup-item .lineup-info .lineup-champions .champion-wrap {
    height: 100%;
    line-height: 1.3rem;
    position: relative;
    width: 11%;
    text-align: center;
}

.swiper-slide {
    flex-shrink: 0;
}

.component-champion {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1;
}

.component-champion.cost5 .champion-pic {
    border: 2px solid #cca329;
}

.component-champion.cost4 .champion-pic {
    border: 2px solid #cc29cc;
}

.component-champion.cost3 .champion-pic {
    border: 2px solid #297acc;
}

.component-champion.cost2 .champion-pic {
    border: 2px solid #5fcc29;
}

.component-champion.cost1 .champion-pic {
    border: 2px solid #999;
}

.component-champion .champion-pic {
    position: relative;
    border-radius: 50%;
    width: .68rem;
    height: .68rem;
    overflow: hidden;
    box-shadow: #1b212d 0 14px 10px;
    margin: 0 auto;
}

.component-champion .champion-pic > img {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1.24);
}

.component-champion .icon-carry {
    background: url("http://game.gtimg.cn/images/lol/tft/content-site/icon-carry-hero.png") no-repeat center/100%;
    width: .24rem;
    height: .28rem;
    position: absolute;
    top: 50%;
    margin-top: -.14rem;
    right: -.1rem;
    pointer-events: none;
}

.lineup-item .lineup-info .lineup-champions .equipment-list {
    position: absolute;
    top: 50%;
    left: 0;
    margin: .26rem 0 0;
    width: 100%;
    text-align: center;
    line-height: 1;
}

.lineup-item .lineup-info .lineup-champions .component-equipment {
    width: .2rem;
    height: .2rem;
    border: none;
}

.component-equipment {
    display: inline-block;
    vertical-align: middle;
    background: #000;
    position: relative;
    cursor: pointer;
    transition: border-color, .3s;
    z-index: 1;
}

.component-equipment > img {
    display: block;
    width: 100%;
    height: 100%;
}

.component-champion .champion-stars {
    position: absolute;
    top: -.16rem;
    left: 0;
    width: 100%;
    height: .2rem;
}

.component-champion .champion-stars > i {
    position: absolute;
    left: 50%;
    transform: scale(.8);
}

.icon-champion-star {
    background-position: -3.58rem -.72rem;
    width: 0.29rem;
    height: 0.28rem;
    background-image: url(//game.gtimg.cn/images/lol/tft/content-site/sprite-img.png?2024_6_6_12_44_46);
    background-size: 3.88rem 3.49rem;
    background-repeat: no-repeat;
}

.component-champion .champion-stars.star-3 > i:nth-of-type(1) {
    top: .04rem;
    margin-left: -.4rem;
}

.component-champion .champion-stars.star-3 > i:nth-of-type(2) {
    margin-left: -.145rem;
}

.component-champion .champion-stars.star-3 > i:nth-of-type(3) {
    top: .04rem;
    margin-left: .1rem;
}

.lineup-item .lineup-info .lineup-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    z-index: 2;
}

a {
    text-decoration: none;
}

.lineup-item .lineup-info .lineup-link:before {
    background: rgba(255, 255, 255, .05);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin: -0.54rem 0 0;
    width: 1px;
    height: 1.08rem;
}

.lineup-item .lineup-info .lineup-link:after {
    background-position: -1.72rem -1.73rem;
    width: 0.11rem;
    height: 0.14rem;
    right: 0.4rem;
    margin: -0.065rem 0 0;

    background-image: url(//game.gtimg.cn/images/lol/tft/content-site/spr-default-theme.png?2023_11_15_15_36_57);
    background-size: 4.84rem 2.72rem;
    background-repeat: no-repeat;

    content: "";
    position: absolute;
    top: 50%;
}

.content-header {
    height: 100px;
}

.lineup-item .lineup-info .lineup-champion-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 5.24rem;
    height: 100%;
    opacity: .3;
    background-position: -1rem 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.lineup-item .lineup-info .lineup-champion-bg:after {
    content: "";
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(38, 47, 58, 0), rgba(38, 47, 58, 0), rgba(38, 47, 58, 0), #262f3a, #262f3a);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-title {
    color: #fff5e0;
    font-size: .3rem;
    font-weight: 400;
    padding-bottom: .38rem;
    padding-left: .30rem;
    position: relative;
    z-index: 1;
}

.page-champion {
    position: relative;
    z-index: 2;
}

.page-champion .champion-list {
    width: 1500px;
}

.page-champion .champion-item-big {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    border: 1px solid #1a1f26;
    margin: 0 .1rem .1rem 0;
    cursor: pointer;
    transition: border-color .3s;
}

.page-champion .champion-item-big .champion-item-pic {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2rem;
    position: relative;
    overflow: hidden;
}

.page-champion .champion-item-big .champion-item-pic:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    width: 100%;
    height: 100%;
}

.page-champion .champion-item-big .champion-item-pic .blur-img {
    position: absolute;
    top: 0;
    left: -.5rem;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(20px);
    opacity: .8;
}

.page-champion .champion-item-big .champion-item-pic .race-job-wrap {
    position: absolute;
    bottom: .1rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.page-champion .champion-item-big .champion-item-pic .race-job {
    position: relative;
    margin: .05rem 0;
    padding-left: .2rem;
}

.page-champion .champion-item-big .champion-item-pic .race-job-icon {
    position: relative;
    background: rgba(27, 33, 40, .4);
    border-radius: 50%;
    width: .3rem;
    height: .3rem;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.page-champion .champion-item-big .champion-item-pic .race-job-icon .icon-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: .18rem;
    height: auto;
    -webkit-filter: contrast(.1) brightness(10);
    filter: contrast(.1) brightness(10);
}

.page-champion .champion-item-big .champion-item-pic .race-job-name {
    display: inline-block;
    vertical-align: middle;
    color: #fff5e0;
    font-size: .14rem;
    margin-left: .12rem;
}

.page-champion .champion-item-big .champion-item-info {
    background: #161a20;
    height: .52rem;
    line-height: .52rem;
    font-size: .14rem;
    padding: 0 .18rem;
    text-align: left    ;
}

.page-champion .champion-item-big .champion-item-info .name {
    color: #fff;
}

.page-champion .champion-item-big .champion-item-info .price {
    float: right;
    color: #9ff900;
}

.sea-name{
    color: #9ff900;
}
.txt-p{
    color: #fff;
}

.page-champion .champion-item-big .champion-item-info .price .icon-price {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .1rem .04rem 0;
}

.icon-price {
    background-position: -1.59rem -2.05rem;
    width: 0.22rem;
    height: 0.18rem;
    background-image: url("https://game.gtimg.cn/images/lol/tft/content-site/spr-default-theme.png?2023_11_15_15_36_57");
    background-size: 4.84rem 2.72rem;
    background-repeat: no-repeat;
}

i {
    font-style: italic;
}

.page-champion .champion-item-big:hover {
    border-color: #ae8b42;
}

.page-rank-lineup .lineup-item .lineup-info .lineup-quality {
    position: absolute;
    top: .6rem;
    right: .28rem
}

.lineup-item .lineup-info .lineup-quality {
    color: #e9b363;
}

.lineup-item .lineup-info .lineup-quality {
    position: relative;
    color: #d7a75f;
    font-size: .2rem;
    font-family: Dinot;
    font-weight: 700;
    line-height: .56rem;
    text-align: center;
    margin: 0 0.5rem 0 0;
}

.lineup-item .lineup-info {
    cursor: pointer;
}

.lineup-item .lineup-info .lineup-quality:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.54rem 0 0;
    width: 1px;
    height: 1.08rem;
    /*background: rgba(48,63,110,.5);*/
}

.lineup-item .lineup-info .lineup-quality > span {
    background-position: -4.46rem -0.21rem;
    width: 0.62rem;
    height: 0.62rem;
}


@media (max-width: 500px) {
    .content {
        transform:scale(0.25);
        transform-origin:top left;
        width: max-content;
    }
}

